<%- include("header"); -%>

<p class="box">
  Welcome to our Todo List app! We are thrilled that you are here.<br />Our
  mission is to make it easy for you to organise and manage your daily tasks, so
  you can stay on top of your to-do list and do more.<br />We understand how
  overwhelming it can be to juggle multiple tasks and responsibilities, which is
  why we designed our app with simplicity and efficiency in mind. With our
  intuitive interface, you can easily add, edit, and prioritoize tasks with just
  a few taps.<br />We are committed to providing a seamless and reliable
  experience for our users, and add new features to our app. If you have any
  feedback or sugestions, we'd love to hear from you.<br />Thank you for
  choosing our Todo List app to help you stay productive and focused. We hope it
  will become an essential tool in your daily routine.
</p>

<%- include("footer"); -%>
